{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'website/bootstrap/css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'website/bootstrap/icons/bootstrap-icons.css' %}">
    {% endblock %}
</head>

<body>

<div class="container">
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a href="{% url 'home' %}" class="navbar-brand"><i class="bi bi-houses-fill"></i> It Takes A Village</a>
        </div>
    </nav>
</div>


{% block javascript %}
<script src="{% static 'website/bootstrap/js/bootstrap.bundle.js' %}"></script>
{% endblock javascript %}
</body>

</html>