{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'website/bootstrap/css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'website/bootstrap/icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'website/fullcalendar/main.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/specialist.css' %}">
    {% endblock %}
</head>

<body>

{% block navbar %}
    {% include "website/specialist/blocks/navbar.html" %}
{% endblock %}

<div class="row">
    <div class="col-md-4 mx-auto">
        {% include "website/specialist/blocks/messages.html" %}
    </div>
</div>

<div class="container-fluid">
    {% block content %}
    {% endblock content %}
</div>


{% block javascript %}
<script src="{% static 'website/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'website/fullcalendar/main.js' %}"></script>
<script src="{% static 'website/js/calendar.js' %}"></script>
{% endblock javascript %}
</body>

</html>
