{% extends "website/layout.html" %}

{% block body_content %}
<div class="row">
    <div class="col-md-2">
        {% include "website/specialist/blocks/specialist_list_search.html" with form=filter.form %}
    </div>
    <div class="col-md-5">
        {% for specialist in filter.qs %}
            {% include "website/specialist/blocks/specialist_list_item.html" with specialist=specialist only %}
        {% endfor %}
    </div>
    <div id="map" class="col-md-5">
    </div>
</div>
{% endblock body_content %}
