{% extends "website/parent/layout.html" %}
{% load static %}

{% block content %}
<div class="row min-vh-100">
    <div class="col-md-6 mt-3 order-md-1 vh-100 overflow-auto">
        {% for specialist in filter.qs %}
            {% include "website/parent/caregiver/blocks/specialist_list_item.html" with specialist=specialist item_number=forloop.counter slots=slots_by_specialist.0 days=days only %}
        {% endfor %}

        <div class="card mb-3" id="card-2">
            <div class="row">
                <div class="col-2 align-self-center">
                    <img src="{% static 'website/img/alicia.webp' %}" class="img-fluid" alt="">
                </div>
                <div class="col-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="text-reset stretched-link" href="/specialist/1" style="">Alicia Mukendi</a>
                            <small class="fs-6 fw-light ms-3">4.1

                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>

                                (45)

                            </small>
                        </h5>
                        <h6 class="card-subtitle fw-normal mb-2">Midwife</h6>
                        <p class="card-text text-muted"><small>Boulevard Anspach 10, 1000 Brussels</small></p>
                        <div class="map-marker" data-latitude="50.84766" data-longitude="4.34922" data-event="click" data-param="#card-2"></div>
                    </div>
                </div>

                <div class="col-4 my-auto">
                    <div class="table-responsive">

                        <table class="table table-sm ">
                            <thead>
                            <tr>
                                {% for day in days %}
                                    <th>
                                        <div class="vstack">
                                            <div class="small-font"> {{ day|date:'D' }}</div>
                                            <div class="small-font"> {{ day|date:'d' }}</div>
                                        </div>
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for day in days %}
                                {% if forloop.counter < 4 %}
                                    <tr>
                                        {% for day in days %}
                                            <td class="small-font">
                                                    -
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>


        <div class="card mb-3" id="card-3">
            <div class="row">
                <div class="col-2 align-self-center">
                    <img src="{% static 'website/img/ricard.webp' %}" class="img-fluid" alt="">
                </div>
                <div class="col-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="text-reset stretched-link" href="/specialist/1" style="">Fred Ricard</a>
                            <small class="fs-6 fw-light ms-3">3.9

                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half "></i>
                                <i class="bi bi-star"></i>

                                (74)

                            </small>
                        </h5>
                        <h6 class="card-subtitle fw-normal mb-2">Parenting Coach</h6>
                        <p class="card-text text-muted"><small>Avenue d'Auderghem 201, 1040 Etterbeek</small></p>
                        <div class="map-marker" data-latitude="50.83341" data-longitude="4.38803" data-event="click" data-param="#card-3"></div>
                    </div>
                </div>

                <div class="col-4 my-auto">
                    <div class="table-responsive">

                        <table class="table table-sm ">
                            <thead>
                            <tr>
                                {% for day in days %}
                                    <th>
                                        <div class="vstack">
                                            <div class="small-font"> {{ day|date:'D' }}</div>
                                            <div class="small-font"> {{ day|date:'d' }}</div>
                                        </div>
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for day in days %}
                                {% if forloop.counter < 4 %}
                                    <tr>
                                        {% for day in days %}
                                            <td class="small-font">
                                                -
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>




    </div>
    <div class="col-md-2 order-md-0 vh-100 bg-light">
        <div class="sticky-md-top pt-3">
            {% include "website/parent/caregiver/blocks/specialist_list_search.html" with form=filter.form %}
        </div>

    </div>
    <div id="map" class="col-md-4 d-none d-md-block order-md-2">
    </div>
</div>
{% endblock content %}
